<!DOCTYPE html>
<html lang="ja">

<head>
    <meta chartset="utf-8">
    <title>memento</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
</head>

<body>
    <div id="app">
        <div class="ui left vertical menu visible sidebar">
            <a @click="gotoYear(year.text)" class="item" v-for="year in years">{{year.text}} <div class="ui teal label">
                    {{year.numHits}}</div></a>
        </div>

        <div class="pusher">
            <div class="ui icon input">
                <input type="text" placeholder="Search..." v-model="searchQuery">
                <i class="search icon"></i>
            </div>
            Twitter Dump:
            <input type="file" @change="onFileChange" />
            Total: {{numTotal}} tweets

            <div class="ui container">
                <div v-if="numTruncatedPre > 0">... {{numTruncatedPre}} tweets ...</div>
                <!-- TODO: Fix id. It should be unique -->
                <div v-for="searchResult in searchResults" class="ui card" style="width: 600px"
                    :id="'section_' + searchResult.localYear">
                    <div class="content">
                        <div class="meta">
                            <a target="_blank" :href="searchResult.url">{{searchResult.localDate}}</a>
                            <span class="right floated" @click="showRaw(searchResult.id)">
                                raw
                            </span>
                        </div>
                        <div class="description">{{searchResult.text}}</div>
                        <div class="ui four cards" v-if="searchResult.media.length > 0">
                            <div class="card" v-for="url in searchResult.media">
                                <div class="image"><img :src="url" /></div>
                            </div>
                        </div>

                        <pre v-if="searchResult.id === expandedTweetId">{{searchResult.json}}</pre>
                    </div>
                </div>
                <div v-if="numTruncatedPost > 0">... {{numTruncatedPost}} tweets ...</div>

                <!-- special states -->
                <div v-if="!indexLoaded">
                    Loading
                </div>
                <div v-if="indexLoaded && searchResults.length === 0">
                    Nothing found
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"
        integrity="sha256-ufGElb3TnOtzl5E4c/qQnZFGP+FYEZj5kbSEdJNrw0A=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.0/jszip.js"
        integrity="sha256-EHgAIxZ/n1IaWzhk7MwPaOux4UOWSr3czJ4dEVimBvo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/semantic-ui-vue/dist/umd/semantic-ui-vue.min.js"></script>
    <script type="module" src="./memento.js"></script>
</body>

</html>